
.App{
  margin: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.Card div{
  height: 375px;
  width:250px;
  background-color: white;
  border-radius: 10px;
  color: black;
  margin: 20px;
  padding: 10px;
  justify-content: flex-start;
}

.img{
  height: 200px;
  width: 250px;
}

h4,p{
  margin: 0;
}
p{
  padding:5px 0;
  width: 250px;
}


@media (max-width: 800px) {
  .App {
    flex: 100%;
  }
}